@import "mealList.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #303841;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}